@font-face {
    font-family: LegueGothic;
    src: url(fonts/LeagueGothic-Regular.otf);
}

.hidden {
    display: none;
}

body {
    background-color: #f4f2d9;
}

#nav-container {
    height: 254px;
    width: 100%;
    background-image: url("/images/top.png");
    background-repeat: repeat-x;
    padding-top: 15px;
    padding-left: 110px;
    padding-right: 0;
}

#nav-container h2 {
    font-family: LegueGothic;
    font-style: bold;
}

#restaurant-profile h3 {
    font-family: LegueGothic;
    color: #442917;
}

.navbar {
    border-radius: 0;
}

#menu-content {
    background-image: url("/images/menu.png");
    color: #eee4ba;
    padding: 0;
    height: 60px;
}

#menu-content ul {
    float: right;
    padding-right: 50px;
}

#register,
#menu-content ul li a {
    color: #eee4ba;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#register {
    color: #938c7b;
}

#user-links a {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#menu-content ul li :hover {
    background-color: #938c7b;
    color: white;
}

.butt {
    background-image: url("/images/buttonsmall.png");
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    height: 38px;
    width: 87px;
}

#search-restaurants {
    padding: 0;
}

.butt span {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 0.9em;
}

#login-div {
    background-image: url("/images/login-div.png");
    height: 78px;
}

.input-form {
    background-image: url("/images/input-field.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 15px;
}

.padding-15 {
    padding: 15px;
}

#login-inline {
    margin-right: 110px;
}

.restaurant {
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.bottom-align-text {
    vertical-align: bottom;
}

.bigger-font {
    font-size: 1.2em;
}

.smaller-font {
    font-size: 0.7em;
}

.star-image {
    height: 2em;
    display: inline-block;
}

.main-info .top-margin {
    margin-top: 1em;
}

.top-margin {
    margin-top: 1em;
}

.restaurant-profile-image {
    display: block;
    height: 20em;
    margin-bottom: 2em;
}

.restaurant-image {
    margin: 0;
    padding: 0;
    box-shadow: 0px 5px 5px 0px#888888;
    height: 10em;
}

.restaurant-image img {
    border: 5px solid white;
    height: 10em;
}

.comment-section {
    margin: 2em;
}

.restaurant-profile-main {
    display: inline-block;
}

.comment {
    border: 1px solid black;
    padding: 1.5em;
}

.comment-content {
    margin-bottom: 1.2em;
}

.add-comment-form {
    margin-top: 2em;
}